* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Home.js */
.sbaoih {
  width: 90%;
  height: 50vh;

}

.wwsabh {
  font-size: large;
  font-weight: 700;
  background-color: coral;
  color: navy;
  margin: 0 5%;
}

.hpdfi {
  width: 50%;
  margin-top: 15vh;
  text-align: center;
}

.bigh {
  display: flex;
  padding-left: 1.5%;
}

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: teal;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.typing {
  width: 0;
  color: white;
  border-right: solid orange 1vh;
  font-size: xx-large;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 15s steps(32, end) infinite forwards;
  /* animation: 
  name : name of animation(keyframe)
  duration : time duration of animation
  timing-function : steps and start-direction
  delay 
  iteration-count : kitna chalana h animation ko
  direction : direction of animation
  fill-mode :  */
}

@keyframes typing {
  0% {
    width: 0%;
  }

  50% {
    width: 32%;
  }
}

.uprappbody {
  width: 100%;
  height: 50vh;
  background-color: black;

}

.lowerapp {
  height: 50%;
  width: 100%;
}

/* end Home.js */
/* Footer.js */
.footer {
  width: 100%;
  height: 5vh;
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 0.5vh 0;
}

.footerlogo {
  height: 3vh;
  width: 2%;
  border-radius: 50%;
}

/* Navbar *********************************/
ul {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 1%;
  padding-top: 1%;

}

li {
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 0 10px;
  width: 20%;
}

.logo {
  height: 10vh;
  width: 70%;
  border-radius: 10%;
}

li:hover {
  color: rgb(89, 89, 152);
  text-decoration: underline;
}

.menu {
  display: none;
}

.nav {
  display: block;
}

.sidenav {
  display: none;
}

/* Navbar end******************** */

/* Order Now********** */
#ooption {
  margin-left: 91%;
  cursor: pointer;
  position: absolute;
  color: white;
  background-color: rgb(36, 85, 101);
  padding-left: 1%;
  height: 4vh;
  width: 8.7%;
  border-radius: 1vh;
  display: block;
}

.closels {
  margin-left: 90%;
  padding-right: 3vh;
  cursor: pointer;
  position: relative;
}

.orderbody {
  height: 100vh;
  width: 100%;
}

#rightsidbar {
  height: 20vh;
  display: none;
  width: 12%;
  background-color: rgb(153, 132, 132);
  margin-left: 87.6%;
  position: absolute;
  top: 7.6vh;
  text-align: center;
}

.onbs {
  display: flex;
  justify-content: space-around;
}

#userprofile {
  display: none;
  width: 8%;
  margin-left: 90%;
  position: absolute;
  top: 7.6vh;
  font-size: x-large;
  flex-direction: column;
  align-items: center;
  gap: 0%;
}

#userprofile button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  width: 100%;
  background: rgb(36, 85, 101);
  color: white;
  font-weight: bold;
  margin-top: 0;
}

.userprofilepic {
  height: 8vh;
  width: 48%;
  border-radius: 50%;
}

.roundshap {
  height: 5vh;
  width: 50%;
  border-radius: 30px;
  font-size: auto;
  background-color: chocolate;
  color: chartreuse;
}

#lpanel {
  height: auto;
  display: none;
  width: 12%;
  background-color: rgb(138, 122, 122);
  margin-left: 87.6%;
  position: absolute;
  top: 7.6vh;
}

#spanel {
  height: 52vh;
  display: none;
  width: 12%;
  background-color: rgb(138, 122, 122);
  margin-left: 87.6%;
  position: absolute;
  top: 7.6vh;

}

.linput {

  width: 90%;
  margin-left: 1%;
}

.fp {
  font-size: auto;
  cursor: pointer;
  color: rgb(7, 88, 120);
  padding-left: 5%;
}

.fp:hover {
  text-decoration: underline;
}

.lroundshap {
  margin-left: 22%;
  height: 5vh;
  width: 50%;
  border-radius: 30px;
  font-size: auto;
  background-color: chocolate;
  color: chartreuse;
  margin-top: 5%;
}

.tabled {
  width: 100%;
  padding-left: 14%;
  text-align: center;
}

.sotable {
  width: 80%;
  box-shadow: rgb(216, 206, 206) 0.1vh 0.5vh;
}

.table-data,
.table-head {
  padding: 1.5%;
  border-bottom: #e6dfdf solid 0.1vh;
}

.table-th {
  background-color: rgb(147, 135, 158);
}

.table-row {
  background-color: rgb(249, 248, 247);
}

.order-now {
  padding: 2vh;
  border-bottom: #e6dfdf solid 0.1vh;
  color: green;
}

.order-now:hover {
  text-decoration: underline;
  cursor: pointer;
}

.broundshap {
  margin-left: 19%;
  height: 5vh;
  width: 15%;
  border-radius: 30px;
  font-size: auto;
  background-color: rgb(147, 135, 158);
  color: black;
  /* font-weight: bold; */
  border: none;
}

.avstock {
  margin-left: 15%;

}

.sbroundshap {
  margin-left: 2%;
  height: 5vh;
  width: 15%;
  border-radius: 30px;
  font-size: auto;
  background-color: rgb(147, 135, 158);
  color: black;
  /* font-weight: bold; */
  border: none;
}

.format {
  height: 30vh;
  width: 15%;
  background-color: rgb(199, 143, 143);
  margin-left: 13%;
}

.bigtitle {
  margin-left: 15%;
}

.bigitem {
  margin-left: 16%;
}

.bigquan {
  margin-left: 4%;
}

.big {
  display: flex;
}

.binput {
  height: 3vh;
}


#BigOrdermodall {
  position: fixed;
  z-index: 1;
  left: 1;
  top: 0;
  margin-left: 32.5%;
  margin-top: 19vh;
  width: 35%;
  height: 68vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: none;
  color: white;
  padding: 1vh;
}

body.orderbody {
  filter: blur(5px);
  opacity: 0.3;
}

/* end Oeder Now********************* */
/* About Us */
.Aboutone {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
}

.MLAP {
  font-size: 7vh;
  font-weight: 1000;
  padding: 5vh;
}

.wwsab {
  font-size: large;
  font-weight: 700;
}

.subAboutoneF {
  display: flex;
  margin-top: 22vh;
}

.ofocus {
  width: 50%;
  font-size: 3vh;
  font-weight: bolder;
  margin: 10vh;
}

.ofocus p {
  border-bottom: solid black 0.5vh;
  padding-bottom: 6vh;
}

.subAboutone {
  display: flex;
  width: 100%;

}

.sbaoi {
  width: 50%;
  height: 50vh;
}

.sbaoii {
  width: 50%;
  height: 57vh;
  border-bottom: solid black 0.1vh;
  padding-bottom: 7vh;
}

.sbaop {
  width: 50%;
  height: 50vh;
  padding: 15vh;
}

.subAboutone1 {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-left: 5%;
}

.vii {
  height: 20vh;
  width: 50%;
}

.subAboutonev {
  display: flex;
  width: 90%;
  margin-left: 5%;

}

.bio {
  width: 50%;
  padding: 20vh;
}

.fstf {
  background-color: black;
  color: white;
  text-align: center;
}

.formatA {
  height: 30vh;
  width: 15%;
  background-color: rgb(34, 33, 33);
  margin-left: 1%;
}

.smore {
  color: white;
  background-color: rgb(34, 33, 33);
  padding: 5vh;
  margin-top: 0;
  height: 50vh;
}

.smore p {
  margin: 5vh 0;
}

.panel {
  transition: 1s;
}

.panel:hover {
  border-bottom: solid orange 3px;
  cursor: pointer;
}

.orange {
  color: orange;
}

.Action-now {
  padding: 2vh;
  border-bottom: #e6dfdf solid 0.1vh;
}

.dlt {
  padding-left: 10%;
  color: red;
}

.dlt:hover {
  text-decoration: underline;
  cursor: pointer;
}

.updt {
  color: rgb(225, 225, 20);
}

.updt:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form {
  margin-left: 14%;
}

.vinput {
  width: 80%;
  height: 6vh;
  opacity: 0.5;
  padding-left: 1%;
}

.adveg {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  border: none;
  margin-left: 35%;
  margin-top: 2vh;
}

#Adminmodall {
  position: fixed;
  z-index: 1;
  left: 1;
  top: 0;
  margin-left: 32.5%;
  margin-top: 19vh;
  width: 35%;
  height: 55vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: none;
  color: white;
  padding: 1vh;
}

#Employemodall {
  position: fixed;
  z-index: 1;
  left: 1;
  top: 0;
  margin-left: 32.5%;
  margin-top: 19vh;
  width: 35%;
  height: 68vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: none;
  color: white;
  padding: 1vh;
}

.modal-contentt {
  background: white;
  padding: 20vh;
  border-radius: 8vh;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#custom-formm {
  display: flex;
  flex-direction: column;
  gap: 1.4vh;
}

.lablll {
  margin-bottom: 0.6vh;
}

.inputt {
  padding: 1.3vh;
  border: 1px solid #ccc;
  border-radius: 0.7vh;
}

.buttonn {
  margin-top: 1.4vh;
  padding: 1.3vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}

#submitmodal {
  background-color: #007bff;
  color: white;
}

#cancel-buttonn {
  background-color: #6c757d;
  color: white;
}

body.panel #AboutBody {
  filter: blur(5px);
  opacity: 0.3;
}

.fpc {
  font-size: auto;
  cursor: pointer;
  color: rgb(7, 88, 120);
  width: 30%;
  /* padding-left: 5%; */
}

.fpc:hover {
  text-decoration: underline;
}

/* end About Us ********************** */

/* Admin Panel */
.totalbill {
  padding: 2vh;
  border-bottom: #e6dfdf solid 0.1vh;
  color: green;
  margin-left: 15%;
}

.cbo {
  padding: 2vh;
  color: green;
  margin-left: 15%;
}

.cbo:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* end Admin Panel */
/* SingleAdmin */
.EmployeCard {
  background-color: #e6e3e3;
  margin: 1% 1% 0;
  padding: 1%;
  border-radius: 5%;
  color: #857e7e;
  /* display: flex; */
}

.gbck {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  border: none;
  margin-left: 45%;
  margin-top: 2vh;

}

.empassorder {
  /* padding: 2vh; */
  border-bottom: #e6dfdf solid 0.1vh;
  color: green;
}

.empassorder:hover {
  text-decoration: underline;
  cursor: pointer;
}

.gndr {
  margin-left: 5%;
}

#AssignedOrders {
  display: none;
}

#CompletedOrders {
  display: none;
}

/* end Single Admin */
/* Employee Panel */
.Profile {
  margin-left: 89%;
  text-align: center;
  padding-top: 1vh;
}

.ppic {
  border-radius: 50%;
  height: 10vh;

}

/* end Employee Panel */

/* Confirmation Panel  */
.customdetail {
  display: flex;
  justify-content: space-between;
  padding-right: 20%;
}

.ordrdelvr {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  border: none;
  margin-left: 45%;
  margin-top: 2vh;

}

.ordrdelvr:hover {
  background-color: greenyellow;
}

.ConfirmCard {
  background-color: #98eeb8;
  margin: 1% 1% 0;
  padding: 1%;
  border-radius: 5%;
  color: #857e7e;
}

/* end Confirmation Panel */
/* ForOrder */
.orderCard {
  box-shadow: #aaa 5px solid;
  width: 30%;
  height: 115vh;
  background-color: #6bb039;
  border-radius: 5%;
  margin-left: 35%;
  margin-top: 5vh;
  padding: 2%;
  margin-bottom: 2vh;
}

.oinput {
  background-color: #6bb039;
  width: 90%;
  height: 5vh;
  font-size: larger;
  border: none;

  /* border-bottom: #79e791 solid .1vh; */
}

.onb {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  border: none;
  margin-left: 37%;
  margin-top: 2vh;

}

/* end ForOrder */
/* Work Assign */
.Asgnbtn {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  border: none;
  margin-left: 45%;
  margin-top: 2vh;
}

.abiob {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  width: 17%;
  border: none;
  margin-left: 14%;
  cursor: pointer;
  color: blueviolet;
  margin-top: 2vh;

}

/* end Work Assign */
/* Confirm.js */
.GbEp {
  padding: 1vh 1.5vh;
  background-color: rgb(247, 193, 94);
  border: none;
  margin-left: 47%;
  margin-top: 2vh;

}

.GbEp:hover {
  background-color: greenyellow;
}

.allbigorderse {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 1vh; */
  /* justify-content: space-between; */
  width: 80%;
  margin-left: 14%;
}

/* end Confirm.js */
/* Big Order.js */
.bigOrderCard {
  background-color: rgb(216, 206, 206);
  width: 80%;
  padding: 5vh;
  border: solid 0.5vh black;
  border-radius: 5vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-between;
}

.bigOrderCard div {
  display: flex;
  flex-direction: column;
  width: 50%;
}



.allbigorders {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

/* end Big Order.js */
/* Contact.js */
.Responsive-map {
  overflow: hidden;
  height: 0;
  position: relative;
  padding-bottom: 30%;
}

.Responsive-map iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* .address{
  text-align: center;
} */
.mvlogocontact {
  text-align: center;
  background-color: black;
  color: white;
  height: 30vh;
  padding: 11vh;
  font-size: 5vh;
  font-weight: 1000;
}

.CI {
  font-size: 5vh;
  font-weight: 1000;
  text-align: center;
}

.CIW {
  font-size: 3vh;
  font-weight: 600;
  /* text-align: center; */
}

.CIBox {
  height: 35vh;
  width: 20%;
  background-color: black;
  border-radius: 2vh;
  color: white;
  margin-left: 2%;
  font-weight: bold;
  padding: 3vh;
}

.wwsa {
  width: 30%;
  padding: 5vh 10vh;
}

.call {
  height: 6vh;
  width: 20%;
  border-radius: 50%;
}

.CIFLEXBOX {
  display: flex;
  gap: 7%;
  padding-left: 4%;
}

/* end Contact.js */

@media (max-width:600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Home.js */
  .sbaoih {
    width: 100%;
    height: 50vh;

  }

  .wwsabh {
    font-size: large;
    font-weight: 700;
    background-color: coral;
    color: navy;
    margin: 0 0%;
  }

  .hpdfi {
    width: 100%;
    margin-top: 15vh;
    text-align: center;
  }

  .bigh {
    display: block;
    padding-left: 0%;
  }

  .containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: teal;
    margin: 0;
    padding: 0;
    opacity: 0.5;
  }

  .typing {
    width: 0;
    color: white;
    border-right: solid orange 1vh;
    font-size: xx-large;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 15s steps(32, end) infinite forwards;
    /* animation: 
    name : name of animation(keyframe)
    duration : time duration of animation
    timing-function : steps and start-direction
    delay 
    iteration-count : kitna chalana h animation ko
    direction : direction of animation
    fill-mode :  */
  }

  @keyframes typing {
    0% {
      width: 0%;
    }

    50% {
      width: 100%;
    }
  }

  .uprappbody {
    width: 100%;
    height: 50vh;
    background-color: black;

  }

  .lowerapp {
    height: 50%;
    width: 100%;
  }

  /* end Home.js */
  /* Footer.js */
  .footer {
    width: 100%;
    height: 5vh;
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 0.5vh 0;
  }

  .footerlogo {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
  }

  /* Navbar *********************************/
  ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 0%;
    padding-top: 1%;

  }

  li {
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 0 0;
    width: 20%;
  }

  .logo {
    height: 10vh;
    width: 10vh;
    border-radius: 10%;
  }

  li:hover {
    color: rgb(89, 89, 152);
    text-decoration: underline;
  }

  .menu {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .nav {
    display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
  }

  .sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }

  .sidenav div:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    background-color: #111;
    border: none;
  }

  /* Navbar end******************** */

  /* Order Now********** */
  #ooption {
    margin-left: 70%;
    cursor: pointer;
    position: absolute;
    color: white;
    background-color: rgb(36, 85, 101);
    padding-left: 1%;
    height: 4vh;
    width: 27%;
    border-radius: 1vh;
    display: block;
  }

  .closels {
    margin-left: 90%;
    padding-right: 3vh;
    cursor: pointer;
    position: relative;
  }

  .orderbody {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  #rightsidbar {
    height: 20vh;
    display: none;
    width: 35%;
    background-color: rgb(153, 132, 132);
    margin-left: 65%;
    position: fixed;
    top: 7.6vh;
    text-align: center;
  }

  .onbs {
    display: block;
    justify-content: space-around;
  }

  #userprofile {
    display: none;
    width: 18vw;
    margin-left: 78%;
    position: absolute;
    top: 7.6vh;
    font-size: x-large;
    flex-direction: column;
    align-items: center;
    gap: 0%;
  }

  #userprofile button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    /* padding: 1vh; */
    width: 100%;
    background: rgb(36, 85, 101);
    color: white;
    font-weight: bold;
    margin-top: 0;
  }

  .userprofilepic {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
  }

  .roundshap {
    height: 5vh;
    width: 50%;
    border-radius: 30px;
    font-size: auto;
    background-color: chocolate;
    color: chartreuse;
  }

  #lpanel {
    height: auto;
    display: none;
    width: 35%;
    background-color: rgb(138, 122, 122);
    margin-left: 65%;
    position: fixed;
    top: 7.6vh;
  }

  #spanel {
    height: 45vh;
    display: none;
    width: 35%;
    background-color: rgb(138, 122, 122);
    margin-left: 65%;
    position: fixed;
    top: 7.6vh;

  }

  .linput {
    width: 100%;
    margin-left: 0%;
  }

  .fp {
    font-size: auto;
    cursor: pointer;
    color: rgb(7, 88, 120);
    padding-left: 5%;
  }

  .fp:hover {
    text-decoration: underline;
  }

  .lroundshap {
    margin-left: 22%;
    height: 5vh;
    width: 50%;
    border-radius: 30px;
    font-size: auto;
    background-color: chocolate;
    color: chartreuse;
    margin-top: 5%;
  }

  .tabled {
    width: 100vw;
    padding-left: 0%;
    text-align: center;
    overflow: scroll;
  }

  .sotable {
    width: 100vw;
    box-shadow: rgb(216, 206, 206) 0.1vh 0.5vh;
    overflow: scroll;
  }

  .table-data,
  .table-head {
    padding: 1.5%;
    border-bottom: #e6dfdf solid 0.1vh;
  }

  .table-th {
    background-color: rgb(147, 135, 158);
  }

  .table-row {
    background-color: rgb(249, 248, 247);
  }

  .order-now {
    padding: 2vh;
    border-bottom: #e6dfdf solid 0.1vh;
    color: green;
  }

  .order-now:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .broundshap {
    margin-left: 5%;
    height: 5vh;
    width: 30%;
    border-radius: 30px;
    font-size: auto;
    background-color: rgb(147, 135, 158);
    color: black;
    border: none;
  }

  .avstock {
    margin-left: 0%;

  }

  .sbroundshap {
    margin-left: 2%;
    height: 5vh;
    width: 30%;
    border-radius: 30px;
    font-size: auto;
    background-color: rgb(147, 135, 158);
    color: black;
    border: none;
  }

  .format {
    height: 30vh;
    width: 15%;
    background-color: rgb(199, 143, 143);
    margin-left: 13%;
  }

  .bigtitle {
    margin-left: 0%;
  }

  .bigitem {
    margin-left: 0%;
  }

  .bigquan {
    margin-left: 0%;
  }

  .big {
    display: block;
    margin-left: 1%;
  }

  .binput {
    height: 3vh;
  }


  #BigOrdermodall {
    position: fixed;
    z-index: 1;
    left: 1;
    top: 0;
    margin-left: 2.5%;
    margin-top: 19vh;
    width: 90%;
    height: 58vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    padding: 1vh;
  }

  body.orderbody {
    filter: blur(5px);
    opacity: 0.3;
  }

  /* end Oeder Now********************* */
  /* About Us */
  .Aboutone {
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    overflow-x: hidden;
  }

  .MLAP {
    font-size: 7vh;
    font-weight: 1000;
    padding: 1vh;
  }

  .wwsa {
    width: 100%;
    padding: 0 0;
  }

  .wwsab {
    font-size: large;
    font-weight: 700;
  }

  .subAboutoneF {
    display: block;
    margin-top: 0;
  }

  .subAboutoneF video {
    width: 90vw;
    margin-left: 5vw;
  }

  .ofocus {
    width: 90%;
    font-size: 3vh;
    font-weight: bolder;
    margin: 4%;
  }

  .ofocus p {
    border-bottom: solid black 0.5vh;
    padding-bottom: 6vh;
  }

  .subAboutone {
    display: block;
    width: 100%;

  }

  .sbaoi {
    width: 100%;
    height: 50vh;
  }

  .sbaoii {
    width: 100%;
    height: 50vh;
    border-bottom: solid black 0.1vh;
    padding-bottom: 0;
  }

  .sbaop {
    width: 100%;
    height: 30vh;
    padding: 2vh;
  }

  .subAboutone1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1%;
  }

  .vii {
    height: 20vh;
    width: 50%;
  }

  .subAboutonev {
    display: block;
    width: 100%;
    margin-left: 0%;
  }


  .bio {
    width: 100%;
    padding: 2vh;
  }

  .fstf {
    background-color: black;
    color: white;
    text-align: center;
  }

  .formatA {
    height: 30vh;
    width: 15%;
    background-color: rgb(34, 33, 33);
    margin-left: 1%;
  }

  .smore {
    color: white;
    background-color: rgb(34, 33, 33);
    padding: 1vh 1vh 55vh 1vh;
    margin-top: 0;
    height: 50vh;

  }

  .smore p {
    margin: 0 0;
  }

  .panel {
    transition: 1s;
  }

  .panel:hover {
    border-bottom: solid orange 3px;
    cursor: pointer;
  }

  .orange {
    color: orange;
  }

  .Action-now {
    padding: 2vh;
    border-bottom: #e6dfdf solid 0.1vh;
  }

  .dlt {
    padding-left: 10%;
    color: red;
  }

  .dlt:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .updt {
    color: rgb(225, 225, 20);
  }

  .updt:hover {
    text-decoration: underline;
    cursor: pointer;
  }



  #Adminmodall {
    position: fixed;
    z-index: 1;
    left: 1;
    top: 0;
    margin-left: 0.5%;
    margin-top: 19vh;
    width: 100%;
    height: 55vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    padding: 1vh;
  }

  #Employemodall {
    position: fixed;
    z-index: 1;
    left: 1;
    top: 0;
    margin-left: 0.5%;
    margin-top: 19vh;
    width: 100%;
    height: 68vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    padding: 1vh;
  }

  .modal-contentt {
    background: white;
    padding: 20vh;
    border-radius: 8vh;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  #custom-formm {
    display: flex;
    flex-direction: column;
    gap: 1.4vh;
  }

  .lablll {
    margin-bottom: 0.6vh;
  }

  .inputt {
    padding: 1.3vh;
    border: 1px solid #ccc;
    border-radius: 0.7vh;
  }

  .buttonn {
    margin-top: 1.4vh;
    padding: 1.3vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
  }

  #submitmodal {
    background-color: #007bff;
    color: white;
  }

  #cancel-buttonn {
    background-color: #6c757d;
    color: white;
  }

  body.panel #AboutBody {
    filter: blur(5px);
    opacity: 0.3;
  }

  .fpc {
    font-size: auto;
    cursor: pointer;
    color: rgb(7, 88, 120);
    width: 30%;
  }

  .fpc:hover {
    text-decoration: underline;
  }

  /* end About Us ********************** */

  /* Admin Panel */

  .form {
    margin-left: 5%;
  }

  .vinput {
    width: 95%;
    height: 6vh;
    opacity: 0.5;
    padding-left: 1%;
  }

  .adveg {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    border: none;
    margin-left: 35%;
    margin-top: 2vh;
  }

  .totalbill {
    padding: 2vh;
    border-bottom: #e6dfdf solid 0.1vh;
    color: green;
    margin-left: 15%;
  }

  .cbo {
    padding: 2vh;
    color: green;
    margin-left: 15%;
  }

  .cbo:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  /* end Admin Panel */
  /* SingleAdmin */
  .EmployeCard {
    background-color: #e6e3e3;
    margin: 1% 1% 0;
    padding: 1%;
    border-radius: 5%;
    color: #857e7e;
  }

  .gbck {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    border: none;
    margin-left: 45%;
    margin-top: 2vh;

  }

  .empassorder {
    border-bottom: #e6dfdf solid 0.1vh;
    color: green;
  }

  .empassorder:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .gndr {
    margin-left: 5%;
  }

  #AssignedOrders {
    display: none;
  }

  #CompletedOrders {
    display: none;
  }

  /* end Single Admin */
  /* Employee Panel */
  .Profile {
    margin-left: 80%;
    text-align: center;
    padding-top: 1vh;
  }

  .ppic {
    border-radius: 50%;
    height: 10vh;

  }
  .allbigorderse {
    width: 100vw;
    margin-left: 0%;
  }

  /* end Employee Panel */

  /* Confirmation Panel  */
  .customdetail {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
  }

  .ordrdelvr {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    border: none;
    margin-left: 45%;
    margin-top: 2vh;

  }

  .ordrdelvr:hover {
    background-color: greenyellow;
  }

  .ConfirmCard {
    background-color: #98eeb8;
    margin: 1% 1% 0;
    padding: 1%;
    border-radius: 5%;
    color: #857e7e;
  }

  /* end Confirmation Panel */
  /* ForOrder */
  .orderCard {
    box-shadow: #aaa 5px solid;
    width: 100%;
    height: 100vh;
    background-color: #6bb039;
    border-radius: 0%;
    margin-left: 0%;
    margin-top: 5vh;
    padding: 2%;
    margin-bottom: 2vh;
  }

  .oinput {
    background-color: #6bb039;
    width: 90%;
    height: 5vh;
    font-size: larger;
    border: none;
  }

  .onb {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    border: none;
    margin-left: 37%;
    margin-top: 2vh;

  }

  /* end ForOrder */
  /* Work Assign */
  .Asgnbtn {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    border: none;
    margin-left: 45%;
    margin-top: 2vh;
  }

  .abiob {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    width: 53%;
    border: none;
    margin-left: 30%;
    cursor: pointer;
    color: blueviolet;
    margin-top: 2vh;

  }

  /* end Work Assign */
  /* Confirm.js */
  .GbEp {
    padding: 1vh 1.5vh;
    background-color: rgb(247, 193, 94);
    border: none;
    margin-left: 47%;
    margin-top: 2vh;

  }

  .GbEp:hover {
    background-color: greenyellow;
  }

 

  /* end Confirm.js */
  /* Big Order.js */
  .bigOrderCard {
    background-color: rgb(216, 206, 206);
    width: 100%;
    padding: 1vh;
    border: solid 0.5vh black;
    border-radius: 5vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
  }

  .bbbbbbbbbb div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .allbigorders {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: space-between;
    width: 100vw;
  }

  /* end Big Order.js */
  /* Contact.js */
  .Responsive-map {
    overflow: hidden;
    height: 40vh;
    position: relative;
    padding-bottom: 30%;
  }

  .Responsive-map iframe {
    border: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }


  .mvlogocontact {
    text-align: center;
    background-color: black;
    color: white;
    height: 10vh;
    padding: 2vh;
    font-size: 4vh;
    font-weight: 1000;
  }

  .CI {
    font-size: 4vh;
    font-weight: 1000;
    text-align: center;
  }

  .CIW {
    font-size: 3vh;
    font-weight: 600;
  }

  .CIBox {
    height: 35vh;
    width: 97%;
    background-color: black;
    border-radius: 2vh;
    color: white;
    margin-left: 2%;
    font-weight: bold;
    padding: 3vh;
    margin-top: 1vh;
  }



  .call {
    height: 6vh;
    width: 20%;
    border-radius: 50%;
  }

  .CIFLEXBOX {
    display: flex;
    flex-direction: column;
    gap: 7%;
    padding-left: 0%;
  }

  /* end Contact.js */
}